html {
    box-sizing: border-box;
}

body {
    width: 95%;
    height: 100%;
    font-size: 1.25em;
}

#navbar {
    width: 23%;
    height: 100%;
    font-size: 1.25em;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 4px solid rgb(114, 109, 133);
}

#navbar header {
    padding: 5%;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 4px solid rgb(114, 109, 133);
}

#navbar li {
    padding: 5%;
    text-align: left;
    border-bottom: 2px solid rgb(114, 109, 133);
}

#navbar a {
    text-decoration: none;
    display: block;
    color: rgb(188, 188, 188);
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25%; /* Largura da barra de navegação + algum espaçamento */
}

#main-doc header {
    font-weight: bold;
    font-size: 1.25em;
}

code[class=codeblock] {
    display: block;
    width: 80%;
    font-size: 1em;
    background-color: #f0f0f0;
    padding: 2%;
    border-radius: 5px;
}

p code {
    background-color: #f0f0f0;
    font-size: 1em;
    padding: 0.2%;
    border-radius: 5px;
}

@media screen and (max-width: 1200px) {
    #navbar {
        height: unset;
        width: 100%;
        margin-left: 0;
        position: relative;
        border-right: unset;
    }

    main {
        margin-top: 10%;
        margin-left: 0;
    }

    code[class=codeblock] {
        width: 95%;
    }
}